<!doctype html>
<html lang="en">
  <head>
  	<title><%= settings.name %> - Reset</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../../../assets/auth/css/style.css">
	<link rel="icon" href="<%=settings.icon%>" type="image/png">

	</head>
    <% if (req.query.err) { %>
        <div class="alert alert-warning" role="alert">
        <% if (req.query.err == "password") { %>
            Confirm password is different from password.
        </div>
<% } %>
<% } %>
	<body class="img js-fullheight" style="background-image: url(../../../assets/auth/images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Reset Password</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Set your new password!</h3>
		      	<form class="signin-form">
                    <div class="form-group">
                        <input id="password" name="password" type="password" class="form-control" placeholder="Password" required="required">
                        <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                      </div>
                      <div class="form-group">
                        <input id="confirm_password" name="confirm_password" type="confirm_password" class="form-control" placeholder="Confirm Password" required="required">
                        <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                      </div>
	            <div class="form-group">
	            	<button type="button" onclick="submitForm()" class="form-control btn btn-primary submit px-3">Reset</button>
	            </div>
				<script>
					async function submitForm() {
                        let password = encodeURIComponent(document.getElementById("password").value);
                        let confirm_password = encodeURIComponent(document.getElementById("confirm_password").value);
						document.location.href = `/accounts/email/password/reset/<%= req.query.id %>?password=${password}&confirm_password=${confirm_password}`
					};
				</script>
	          </form>
	          <p class="w-100 text-center">&mdash; Already have an account? &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="/" class="px-2 py-2 mr-md-1 rounded">Login</a>
	          </div>
			  <div class="mt-3">
				<p class="w-100 text-center">&mdash; Don't have an account? &mdash;</p>
				<div class="social d-flex text-center">
				<a href="/register" class="px-2 py-2 mr-md-1 rounded">Register</a>
				</a>
			</div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="../../../assets/auth/js/jquery.min.js"></script>
  <script src="../../../assets/auth/js/popper.js"></script>
  <script src="../../../assets/auth/js/bootstrap.min.js"></script>
  <script src="../../../assets/auth/js/main.js"></script>

	</body>
</html>

